@charset "UTF-8";
/* header footer 해당부분 */
   *{
    margin: 0; padding:0;
    } 
    
     body{
    padding : 0px;
    margin:0 auto;
   	/* width:960px; */
    } 
    
    .d-flex{
	margin-top: 10px;
	margin-right: 50px;
	FLOAT: right;
	flex-wrap: nowrap;
}
	.maintop{
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	}
	
	.nav-item{
	margin-top:10px;
	margin-right:10px;
	font-size: 20px;
	}
	
	.topBtn{
	text-align: right;
	font-size: 30px;
	
	}
	
	.navbar-light .navbar-nav .nav-link:hover{
    color: orange;
}

.simbol{
	margin-left : 20px;
    display: flex;

}



/* --------------cs.html해당부분----------------- */
	#content {
	margin: 50px 100px;
	width: 85%;
	height: 92%;
	}
  	div.cs_nav{
		overflow:hidden;
		flex-flow: row wrap;
	}
	.cs_nav_item{
		float: left;
		width:30%;
		height:80px;
		margin: 5px 10px;
		padding:20px;
		border-left:1px solid rgb(192, 192, 192);
		
		white-space: nowrap;
		overflow:hidden;
		text-overflow: ellipsis;
	}
	.cs_nav_item:last-child{
	padding-top:0px;
	}
	.cs_nav_item a:link,
	.cs_nav_item a:visited
	{
		font-size : 20px;
		text-decoration: none;
		color :black;
	}
	
	.question_list{
		margin-left:20px;
	}
	.question{
		margin-top:10px;
		margin-left: 20px;
		margin-bottom:10px;
	}
	.question hr{
		color: gray;
	}
	.answer {
		display: none;
		margin:5px;
		padding:10px 20px;
		background-color: rgb(233,233,233);
	}