@charset "UTF-8";
#content {
	margin: 0 auto;
	width: 85%;
	height: 92%;
} 
table {
	margin: 10px;
	width: 100%;
	border-top: 1px solid #444444;
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid #444444;
	border-left: 1px solid #444444;
	padding: 10px;
}

th:first-child, td:first-child {
	border-left: none;
}

input[type=text] {
	width: 100%;
}

textarea {
	width: 100%;
	resize: none;
}

#buttons {
	margin: 20px;
} 