@charset "UTF-8";
/* header footer 해당부분 */
   *{
    margin: 0; padding:0;
    } 
    
     body{
    padding : 0px;
    margin:0 auto;
   	/* width:960px; */
    } 
    
    .d-flex{
	margin-top: 10px;
	margin-right: 50px;
	FLOAT: right;
	flex-wrap: nowrap;
}
	.maintop{
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	}
	
	.nav-item{
	margin-top:10px;
	margin-right:10px;
	font-size: 20px;
	}
	
	.topBtn{
	text-align: right;
	font-size: 30px;
	
	}
	
	.navbar-light .navbar-nav .nav-link:hover{
    color: orange;
}

.simbol{
	margin-left : 20px;
    display: flex;

}


/* -------------order.html해당부분 --------------*/
#content {
	margin-top: 50px;
	margin-left: 150px;
	margin-bottom: 30px;
	width: 85%;
	height: 92%;
}

table {
	width: 100%;
	margin: 10px;
	table-layout: fixed; /*테이블 셀 크기 조절*/
}

table, th, td {
	padding: 10px;
}

#user_info table td:first-child, #recipient_info table td:first-child {
	width: 15%;
	border-right: 1px solid rgb(192, 192, 192);
}

#order_pay {
	width: 10px;
	margin: 50px auto;
}