@charset "UTF-8";
/* 네비게이션 및 footer css */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  /* width:960px; */
}

.d-flex {
  margin-top: 10px;
  margin-right: 50px;
  float: right;
}

.maintop {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 30px;
}

.nav-item {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
}

.topBtn {
  text-align: right;
  font-size: 30px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: orange;
}

h1 {
  margin-top: 50px;
  margin-left: 150px;
  margin-bottom: 30px;
}

h4 {
  color: orange;
}

.simbol {
  margin-left: 20px;
}

/*.d-flex {
	margin-top: 10px;
	margin-right: 50px;
	FLOAT: right;
}

.maintop {
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: 30px;
}

.nav-item {
	margin-top: 10px;
	margin-right: 10px;
	font-size: 20px;
}*/

/* signup 관련 css */
.top-intro {
  margin-top: 50px;
  text-align: center;
}

.box {
  width: 500px;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  box-sizing: border-box;
}
